.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #202022;
  font-size: 25px;
}

button {
  background-color: transparent;
  color: #ededee;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

button:hover {
  text-decoration: underline;
}
