.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 50px;
}

.header button {
  background-color: transparent;
  color: #ededee;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}
.header button:hover {
  text-decoration: underline;
}
button.mode {
  background-color: rgb(253, 213, 139);
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-left: 80px;
}
#root {
  display: flex;
  justify-content: center;
}

body {
  background-color: #202023;
  color: #ededee;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  line-height: 25px;
  text-align: justify;
  text-justify: inter-word;
}

.container {
  width: 25%;
  padding-top: 60px;
  font-family: Helvetica;
  font-weight: lighter;
}
.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313134;
  padding: 15px 25px;
  border-radius: 10px;
  margin-top: 300px;
}

.bold {
  font-weight: bold;
}

.box1 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.box1 img {
  width: 6rem;
  border: 1px solid white;
  border-radius: 50%;
}
.fullName {
  font-size: 2.3rem;
  font-weight: bold;
}
h3 {
  border-bottom: 4px solid grey;
  width: fit-content;
}

.indent {
  margin-left: 20px;
}
.pinkButton {
  background-color: #81e6d9;
  padding: 10px 30px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5%;
}

.pinkButton:hover {
  cursor: pointer;
  background-color: #2aceb8;
}

.box2 {
  display: flex;
  justify-content: center;
}
a {
  color: #ff64c4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.link2 {
  background-color: transparent;
  color: #2aceb8;
  padding: 20px;
  border: none;
  font-size: 1.05rem;
}

.link2box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.empty {
  font-size: 4rem;
  margin-top: 50%;
}

img {
  width: 1.1rem;
  margin-right: 5px;
}

img {
  transition: transform 0.35s ease-in-out;
}

img:hover {
  transform: rotate(-45deg);
}

.footer {
  font-size: 0.98rem;
  padding: 30px;
  color: grey;
}
